

.createBlog{
    margin: auto;
    max-width: 600px;
    border: 1px solid black;
    text-align: center;
    margin-top: 150px;
    padding: 20px;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
textarea{
    width: 80%;
    height: 50px;
    margin-top: 10px;
}
button{
    padding: 10px 60px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}